{
    oreNaturalAluminum = "galacticraftcore:basic_block_core#7",
    oreLead = "thermalfoundation:ore#3",
    oreIron = "minecraft:iron_ore#0",
    oreGold = "minecraft:gold_ore#0",
    oreAluminum = "galacticraftcore:basic_block_core#7",
    oreCinnabar = "thaumcraft:ore_cinnabar#0",
    oreNickel = "thermalfoundation:ore#5",
    oreBauxite = "techreborn:ore#4",
    oreSilver = "thermalfoundation:ore#2",
    oreTin = "thermalfoundation:ore#1",
    oreGalena = "techreborn:ore#0",
    oreUranium = "ic2:resource#4",
    oreQuartzBlack = "actuallyadditions:block_misc#3",
    oreAluminium = "galacticraftcore:basic_block_core#7",
    oreCopper = "thermalfoundation:ore#0",
  }
